       @import url( 'https://fonts.googleapis.com/css?family=Sora');

        /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

body {
    font-size: var(--step--1);
    color: hsl(240, 1%, 59%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;           
    background-color: hsl(0, 0%, 7%);
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo{
    background-image: url(../assets/images/logo-small.svg);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

.personal-best-container {
    display: flex;
}

.personal-best-para {
    margin-right: 3px;
}

.personal-best-logo {
    margin-right: 8px;
}

.personal-best-wide-screen {
    display: none;
}

.best-score {
    color: #fff;
}

.best-score-value {
    margin-right: 3px;
}

.stats-difficulty-and-mode {

    margin-top: 30px;
    display: grid;
    /* grid */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 11px;
}

.stat-name {
    margin-bottom: 4px;
}

.single-stat {
    text-align: center;
}

.single-stat-accuracy {
    padding: 0 10vw;
    border-left: 1px solid hsl(240, 1%, 59%);
    border-right: 1px solid hsl(240, 1%, 59%);
}

.stat-value {
    font-weight: bold;
    font-size: var(--step-0);
    color: #fff;
}

.difficulty-and-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.difficulty {
    position: relative;
}

.mode {
    position: relative;
}

.difficulty-and-mode-title {
    display: none;
}

.decision {
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    font-size: var(--step--1);
    border: 1px solid #fff;
    justify-content: center;
    padding: 5px 0px;
    width: 43vw;
    border-radius: 5px;
}
.difficulty:hover {
    cursor: pointer;
}
.mode:hover {
    cursor: pointer;
}
.difficulty:hover .choices {
    display: block;
}

.mode:hover .choices {
    display: block;
}

.decision-name {
    font-size: var(--step--2);
}
.decision > i {
font-size: 9px;
margin-left: 4px;
}

.choices {
    background-color: hsl(0, 0%, 15%);
    margin-top: 6px;
    color: #fff;
    border-radius: 10px; 
    position: absolute;
    z-index: 1;
    width: 43vw;
    top: 24px;
    display: none;
}
.choice {
    padding: 5px;
}

.choice:hover {
    background-color:  hsl(240, 1%, 28%);
    cursor: pointer;
}

.easy-choice {
    border-bottom: 1px solid hsl(240, 1%, 59%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.medium-choice {
    border-bottom: 1px solid hsl(240, 1%, 59%);
}

.hard-choice {
      border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.timed-choice {
    border-bottom: 1px solid hsl(240, 1%, 59%);  
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.passage-choice {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
label {
    margin-left: 3px;
 
}

label:hover{
    cursor: pointer;
}

.radio-buttons:hover {
cursor: pointer;
}
.button-and-text{
    display: flex;
    align-items: center;
    flex-direction: column;
           position: absolute;
    z-index: 1;
    top: 340px;
   place-self: center; 
  inset: 0;
  /* display: flex; */
}

.text-wall {
    font-size: var(--step-2);
    display: block;
    width: 100%;
    height: 400px;
/* position: relative;
z-index: -2; */
    background-color: transparent;
    resize: none;
border: none;
    outline: none;
    color: transparent;
  
}


.start-button {
    background-color:  hsl(214, 100%, 55%);
    color: #fff;
    border-style: none;
    padding: 10px;
    border-radius: 6px;
    border: 0px;
}
.start-text {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.start-text:hover {
    cursor: pointer;
}

.wrapper {
    position: relative;
overflow: hidden;
}

.placeholder {
    position: absolute;
        filter: blur(3px);
    top: 0px;
     font-size: var(--step-2);
     z-index: -2;
     
}
.start-button:hover{
    cursor: pointer;
}

.text {
    margin-top: 26px;
    margin-bottom:  50px;
}
.restart-test {
 border-top: 1px solid gray;
}

.restart-button {
        margin: auto;
    margin-top: 30px;
    display: flex;
    height: 40px;
    padding: 10px;
    width: 160px;
    align-items: center;
  justify-content: center;
    flex-direction: row;
    background-color: hsl(0, 0%, 15%);
    color: #fff;
  
    border-radius: 10px;
}

.restart-button:hover {
    cursor: pointer;
}
.results {
 
    display: none;
}

.red-star {
    position: absolute;
    z-index: 1;
    width: 23px;
    left: 30px;
    top: 100px;
}

.yellow-star {
    position: absolute;
    z-index: 1;
    width: 23px;
    left: 290px;
    top: 560px;
}

.confetti {
    display: none;
      position: absolute;
    z-index: 1;
width: 950px;
 left: 50%;
    transform: translate(-50%, 0);
bottom: -135px;


}

.result-intro {
    text-align: center;
}

.baseline-image {
   border: 8px solid hsl(140, 43%, 35%);
   border-radius: 50%;
   width: 70px;
  box-shadow: 0 0 0 8px  hsl(137, 41%, 18%);
}

.results-title {
    color: #fff;
    font-size: var(--step-1);
}

.results-message-container {
    margin-top:  25px;
}
.results-message{
    margin-top: 10px;
}

.results-stats {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.result-single-stat {
    border: 1px solid hsl(240, 1%, 59%);;
    border-radius: 6px;
    padding: 10px 17px;
}

.result-stat-characters-correct {
    color: hsl(140, 63%, 57%);
}

.result-stat-characters-wrong {
    color: hsl(354, 63%, 57%);
}
.go-again-button {
    margin: auto;
    margin-top: 30px;
    display: flex;
    height: 40px;
    padding: 10px;
    width: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.go-again-button:hover {
    cursor: pointer;
}
.retry-icon {
    padding-left: 7px;
}
  .attribution { 
    margin-top: auto;
    font-size: 0.6875rem;
     text-align: center;
     }
    .attribution a {
         color: hsl(228, 45%, 44%); 
    }

    .unit-container{
    width: 55px;
}

.single-stat-accuracy { 
    max-width: 250px;
}

/* Desktop view */
@media only screen and (min-width:1060px) {

.time-container{
    width: 130px;
}

.stat-value{
    margin-left: 10px;
}
.header {
    margin-top: 25px;
}

.text-wall {
 
    height: 400px;
}
.unit-container{
    width:131px;
}
.single-stat-time {
    width: 130px;
}
.single-stat-WPM{
    width: 130px;
}
.main-logo {
     background-image: url(../assets/images/logo-large.svg);
    height: 40px;
    width: 300px;
}

.personal-best-wide-screen {
    display: block;
}

.personal-best-small-screen{
    display: none;
}

.difficulty-and-mode {
    margin-top: 0px;
    justify-content: end;
align-items: center;
  
}

.stats-difficulty-and-mode {
    margin-top: 50px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.stats {
    width: 30vw;
    align-items: center;
}

.single-stat-accuracy {
    padding: 0 2vw;

}
.single-stat-WPM {

padding-right: 2vw;
}

.single-stat-time{
padding-left: 2vw;
}

.single-stat {
    display: flex;
    flex-direction: row;
}

.difficulty {
    display: flex;
    align-items: center;
    padding-right: 15px;

}


.mode {
    
     display: flex;
     align-items: center;
    padding-left: 15px;
    border-left: 1px solid hsl(240, 1%, 59%);
    border-radius: 0px;
     
}

.difficulty-and-mode-title {
    display: block;
}

.decision {
    display: none;
}
.choices {
    display: flex;
   background-color: transparent;
    margin-top: 0px;
    justify-content: space-between;
    position: static;
    margin-left: 10px;
}

.choices-difficulty{
      width: 200px;


}

.choices-mode {
  width: 200px;

}

.radio-buttons {
    display: none;
}

.difficulty:hover .choices {
    display: flex;
}

.mode:hover .choices {
    display: flex;
}
.choice {
    padding: 5px;
      border: 1px solid hsl(240, 1%, 59%);
    border-radius: 10px;
}


.results-stats {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    margin: 50px auto;
}

.red-star {
    width: 30px;
    left: 190px;
    top: 160px;
}

.yellow-star {

    width: 37px;
    left: 980px;
    top: 450px;
}

.confetti {

width: 1350px;
bottom: -165px;


}

.text {

    margin-bottom:  100px;
}
}