       @import url( 'https://fonts.googleapis.com/css?family=Sora');

        /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

body {
    font-size: var(--step--1);
    color: hsl(240, 1%, 59%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;           
    background-color: hsl(0, 0%, 7%);
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo{
    background-image: url(../assets/images/logo-small.svg);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

.personal-best-container {
    display: flex;
}

.personal-best-para {
    margin-right: 3px;
}

.personal-best-logo {
    margin-right: 8px;
}

.personal-best-wide-screen {
    display: none;
}

.best-score {
    color: #fff;
}

.best-score-value {
    margin-right: 3px;
}

.stats-difficulty-and-mode {

    margin-top: 30px;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 11px;
}

.stat-name {
    margin-bottom: 4px;
}

.single-stat {
    text-align: center;
}

.single-stat-accuracy {
    padding: 0 10vw;
    border-left: 1px solid hsl(240, 1%, 59%);
    border-right: 1px solid hsl(240, 1%, 59%);
}

.stat-value {
    font-weight: bold;
    font-size: var(--step-0);
    color: #fff;
}

.difficulty-and-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.difficulty {
    position: relative;
}

.mode {
    position: relative;
}

.difficulty-and-mode-title {
    display: none;
}

.decision {
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    font-size: var(--step--1);
    border: 1px solid #fff;
    justify-content: center;
    padding: 5px 0px;
    width: 43vw;
    border-radius: 5px;
}

.difficulty:hover .choices {
    display: block;
}

.mode:hover .choices {
    display: block;
}

.decision-name {
    font-size: var(--step--2);
}
.decision > i {
font-size: 9px;
margin-left: 4px;
}

.choices {
    background-color: hsl(0, 0%, 15%);
    margin-top: 6px;
    color: #fff;
    border-radius: 10px; 
    position: absolute;
    z-index: 1;
    width: 43vw;
    top: 24px;
    display: none;
}
.choice {
    padding: 5px;
}

.choice:hover {
    background-color:  hsl(240, 1%, 28%);
    cursor: pointer;
}

.easy-choice {
    border-bottom: 1px solid hsl(240, 1%, 59%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.medium-choice {
    border-bottom: 1px solid hsl(240, 1%, 59%);
}

.hard-choice {
      border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.timed-choice {
    border-bottom: 1px solid hsl(240, 1%, 59%);  
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.passage-choice {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
label {
    margin-left: 3px;
 
}

label:hover{
    cursor: pointer;
}

.radio-buttons:hover {
cursor: pointer;
}
.button-and-text{
    display: flex;
    align-items: center;
    flex-direction: column;
           position: absolute;
    z-index: 1;
    top: 340px;
   place-self: center; 
  inset: 0;
  display: none;
}
.start-button {
    background-color:  hsl(214, 100%, 55%);
    color: #fff;
    border-style: none;
    padding: 10px;
    border-radius: 6px;
 
}
.start-text {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.start-button:hover{
    cursor: pointer;
}

.text {
    margin-top: 26px;
}

.result-intro {
    text-align: center;
}
  .attribution { 
    margin-top: auto;
    font-size: 0.6875rem;
     text-align: center;
     }
    .attribution a {
         color: hsl(228, 45%, 44%); 
    }


